[Unit]
Description=Card Detect Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/ecel2b40/Documents/TGLockSystem/misc/scripts/cardDetect.py
# OR for a simple command:
# ExecStart=/usr/bin/bash -c '/home/ecel2b40/Documents/TGLockSystem/misc/scripts/cardDetect.py'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
