------------------------------------------
User Name (00000000):
IoProx Parameters:
  Version (VN):  01
  Facility (FN): A0
  Card (CN):     00000
Calculated Raw ID: 007870605h2a3713
------------------------------------------
